* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

#app {
  width: 100vw;
  height: 100vh;
  background-image: url('./48_bg.jpg');
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
}

.app-left-menu {
  background-color: #fff;
  backdrop-filter: blur(20);
  width: 400px;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  max-height: 100vh;
  overflow-y: scroll;
}
